<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dhp.thl.tpl.ntt">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" tools:ignore="MissingPermission" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zaticker"
        android:usesCleartextTraffic="true"
        tools:targetApi="38">

        <!-- Main launcher activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Share target 1: Import into Zaticker -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/share_import"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
            <meta-data
                android:name="EXTRA_SHARE_TYPE"
                android:value="IMPORT"/>
        </activity>

        <!-- Share target 2: Quick Share to Zalo -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/share_quick_zalo"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
            <meta-data
                android:name="EXTRA_SHARE_TYPE"
                android:value="QUICK_ZALO"/>
        </activity>

        <!-- Share target 3: Import + Share to Zalo -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/share_import_and_zalo"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
            <meta-data
                android:name="EXTRA_SHARE_TYPE"
                android:value="IMPORT_AND_ZALO"/>
        </activity>

        <!-- FileProvider for sharing stickers -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>
</manifest>
